.header {
  background-color: rgba(10,10,10,0.4);
  margin-bottom: 30px;
  form {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    label {
      display: block;
      cursor: pointer;
      padding: 0 30px 0 0;
      margin: 0 15px;
      font-size: 16px;
      line-height: 100%;
      span {
        display: block;
        position: relative;
        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        &:after {
          width: 8px;
          height: 8px;
          background-color: transparent;
          border-radius: 2px;
          right: -16px;
          transition: background-color 0.3s ease;
        }
        &:before {
          content: '';
          width: 16px;
          height: 16px;
          border-radius: 3px;
          border: 1px solid transparent;
          background-color: white;
          right: -20px;
        }
      }
      input {
        display: none;
      }
      &.first {
        margin: 0 15px 0 0;
        color: blue;
        span:before { border-color: blue }
        input:checked + span:after { background-color: blue }
      }
      &.second {
        margin: 0 auto 0 0;
        color: #fdd023;
        span:before { border-color: #fdd023 }
        input:checked + span:after { background-color: #fdd023 }
      }
      &.direct {
        margin: 0 0 0 auto;
        color: green;
        span:before { border-color: green }
        input:checked + span:after { background-color: green }
      }
      &.reverse {
        margin: 0 0 0 15px;
        color: red;
        span:before { border-color: red }
        input:checked + span:after { background-color: red }
      }
      &.direct,
      &.reverse {
        padding: 0 0 0 30px;
        span {
          &:before,
          &:after { right: auto }
          &:before { left: -20px }
          &:after { left: -16px }
        }
      }
    }
  }
}